*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: black;
}

.card{
  height: 140px;
  width: 80%;
  margin: 156px auto;
  color: #fff;
  padding: 20px;
  font-size: 28px;
  text-align: left;
  background-color: darkgoldenrod;
  border-radius: 20px;
  line-height: 50px;

}

.nav{
  background-color: darkcyan;
  color: black;
  height: 50px;
  width: 100%;
  padding: 20px;
  margin: 5px;
}