
body {
  background-color: #242424;
  color:khaki;
  font-size: 4vw;
}
form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
  font-size: 5vh;

}
button{
  width: 25%;
  padding: 10px 5px;
  border-radius:20px;
  outline: none;
  font-size: large;
  font-weight: 700;
  background-color: coral;
}
button:hover{ 
  opacity: 0.9;
}


input{
  padding: 2vw;

}




