body{
  background-color: #333;
 
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: aquamarine;
  font-size: 2vh;
}
.nav2{
  display: flex;
  gap: 1.5vw;
  align-items: center;
}